name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t cicd-demo .

    - name: Login to DockerHub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push image
      run: |
        docker tag cicd-demo ${{ secrets.DOCKER_USERNAME }}/cicd-demo
        docker push ${{ secrets.DOCKER_USERNAME }}/cicd-demo

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/cicd-demo
          docker stop app || true
          docker rm app || true
          docker run -d --name app -p 5000:5000 ${{ secrets.DOCKER_USERNAME }}/cicd-demo
